@font-face {
    font-family: 'FortuneTeller';
    /*a name to be used later*/
    src: url("../fonts/UNICORN_REGULAR.TTF");
    /*URL to font*/
}
header{
	font-size: 88px;
	font-family: "FortuneTeller";
	color: #fefe34;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
}
body{
	background-color: #fefe34;

}
p{
	font-family: "FortuneTeller";
	-webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: #fefe34;

}
i{
	color: black;
}


footer{
	height: 50px;
}

li{
	opacity: 0.0;
}
.jumbotron{
	/*background-color: white;*/
	background-image: url("https://m.popkey.co/c93dca/VeRae.gif");
	background-size: 100% auto;
	color: white;
}

.embed-container {
  margin-top: 15px !important;
}

.container {
  margin-top: 20px;
}
